.wrapper {
  background-color: rgb(155, 155, 246);
  height: 100vh;
  padding: 80px 15px 0px;
  display: flex;
}

.formWrapper {
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: aquamarine;
}
